ion-card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;    /* Ajustar al tamaño de las columnas */
    max-width: 300px; /* Opcional, tamaño máximo de la tarjeta */
    height: 400px; /* Altura fija para uniformidad */
    margin: 10px auto; /* Espaciado entre tarjetas */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra  */
  }
  
  ion-card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 15px;
  }
  
  ion-avatar {
    width: 100px; /* Tamaño del avatar */
    height: 100px;
    margin-bottom: 10px; /* Espaciado entre el avatar y el título */
  }
  
  ion-avatar img {
    width: 100%; /* Imagen dentro del avatar */
    height: 100%;
    object-fit: cover; /* Ajustar imagen sin distorsión */
    border-radius: 50%; /* Asegurar forma circular */
  }
  
  ion-card-title {
    font-size: 18px;
    font-weight: bold;
    margin: 10px 0 5px;
  }
  
  ion-card-subtitle {
    font-size: 14px;
    color: #888;      /* Color más tenue */
    margin-bottom: 15px;
  }
  
  p {
    font-size: 14px;
    color: #555;      /* Color neutro para el texto */
    line-height: 1.4;
  }