
/* Contenedor centralizado */
#container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

/* Estilo general para ion-card */
ion-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%; /* Ajustar al tamaño de las columnas */
  max-width: 300px; /* Opcional: tamaño máximo de la tarjeta */
  height: auto; /* Ajusta la altura según el contenido */
  margin: 10px auto; /* Espaciado entre tarjetas */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra ligera */
  border-radius: 10px;
  transition: box-shadow 0.3s ease;
}

ion-card:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); /* Efecto hover */
}

/* Encabezado y contenido del ion-card */
ion-card-header {
  background-color: #f8f8f8;
  padding: 12px;
  border-radius: 8px 8px 0 0;
  text-align: center;
}

ion-card-title {
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0 5px;
  color: #333;
  text-transform: capitalize;
}

ion-card-subtitle {
  font-size: 14px;
  color: #888;
  margin-bottom: 15px;
}

ion-card-content {
  background-color: #fafafa;
  padding: 10px;
  border-radius: 0 0 8px 8px;
  text-align: center;
}

/* Imagen dentro del ion-card */
ion-card img {
  width: 100%;
  height: auto;
  max-width: 200px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
}

/* Filtro de búsqueda */
ion-input {
  margin: 20px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #fff;
}

/* Estilos por categoría */

.categoria.manualidades {
  border-left: 5px solid #f5a623;
}

.juegos-al-aire-libre {
  border-left: 5px solid #4caf50;
}

.juegos-tranquilos {
  border-left: 5px solid #03a9f4;
}

.creatividad {
  border-left: 5px solid #e91e63;
}

.educativo {
  border-left: 5px solid #9c27b0;
}

.actividades-fisicas {
  border-left: 5px solid #ff9800;
}

/* Estilos responsivos */
@media (min-width: 768px) {
  ion-card-title {
    font-size: 24px;
  }
}

@media (min-width: 1024px) {
  ion-card-title {
    font-size: 30px;
  }

  ion-card {
    margin: 20px;
    padding: 20px;
  }
}


/* Mostrar elementos solo en orientación vertical */
@media (orientation: portrait) {
  .landscape-only {
    display: none;
  }
}


/* Mostrar elementos solo en orientación horizontal */
@media (orientation: landscape) {
  .portrait-only {
    display: none;
  }
}
