<ion-header>
  <ion-toolbar>
    <ion-title>Actividades para Niños</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col *ngFor="let user of users | async" size="12"  size-sm="6" size-md="4"  size-lg="3" *ngFor="let  actividades of filterActivities()" >
        <ion-card>
          <img [src]=" actividades.image" alt="{{  actividades.name }}" />
          <ion-card-header>
            <ion-card-title>{{ actividades.name }}</ion-card-title>
            <ion-card-subtitle>{{  actividades.category }}</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <p><strong>Rango de edad:</strong> {{  actividades.age_range }}</p>
            <p>{{  actividades.description }}</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
