<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Kids Actividades
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Barra de búsqueda -->
  <ion-input [(ngModel)]="filtro" placeholder="Buscar actividades...">
  </ion-input>

  <ion-grid>
    <ion-row>
      <!-- Itera sobre la lista de actividades -->
      <ng-container *ngFor="let actividad of actividades | async">
        <!-- Solo muestra las actividades que coincidan con el filtro y la categoría 'manualidades' -->
        <ion-col *ngIf="filtro === '' || actividad.nombre.toLowerCase().includes(filtro.toLowerCase())" 
                 size="12" size-md="6" size-lg="4" size-xl="3">
          <ion-card *ngIf="actividad.categoria == 'manualidades'">
            <img [src]="actividad.imagen" alt="{{ actividad.nombre }}">
            <ion-card-header>
              <ion-card-title>{{ actividad.nombre }}</ion-card-title>
              <ion-card-subtitle>{{ actividad.categoria }}</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
              <p><strong>Rango de edad:</strong> {{ actividad.rango_edad }}</p>
              <p>{{ actividad.descripcion }}</p>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ng-container>
    </ion-row>
  </ion-grid>
</ion-content>